.carregar-btn{
    right: 2px;
    top: 2px;
    height: 40px;
    background: #ffa000;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 3px;
    padding-top: 4px;
    text-transform: uppercase;
    cursor: pointer;
}
#carregar-btn, .clear {
    position: absolute;
    cursor: pointer;
}
.button-mais{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

