.card {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 500px;
    transition: all 0.3s ease-out;
    background-color: aliceblue;
    padding-top: 30px;
}
.titulo-book{
    font-size: 16px;
    font-weight: bold;
    color: rgb(102, 100, 100);
    font-family:'Times New Roman', serif;
}

.inf-book-label{
    font-size: 13px;
    font-weight: bold;
}
.inf-book-value{
    font-size: 13px;
    
}